@font-face {
  font-family: 'Anton';
  font-weight: 400;
  src: local('Inter'), url(./fonts/Anton-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('Inter'), url(./fonts/Inter-Regular.ttf) format('truetype');
}

/* Apply uppercase transformation to any element using the Anton font */
* {
    font-family: 'Anton', sans-serif !important;
    text-transform: uppercase !important;
	border-radius: 0 !important;
}

/* Ensure no background image is applied to elements with the class "MuiPaper-root" */
.MuiPaper-root {
    background-image: none !important;
	box-shadow: none !important;
}

/* Set background color to black for elements with class names containing "banner" */
[class*="banner"] {
    background-color: black !important;
}

body {
  background-color: #000000;
}

